@{
	ViewData["Title"] = "Welcome";
}

<div class="jumbotron bg-white p-4 shadow-sm">
	<h1 class="display-5">Charter Reporter</h1>
	<p class="lead">Secure reporting for Charter, REBOSA and PPRA admins.</p>
	<hr class="my-4" />
	<p>
		<a class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Login">Login</a>
		<a class="btn btn-outline-primary btn-lg" asp-controller="Account" asp-action="Register">Register</a>
	</p>
</div>

